<% provide(title: "Confirm Resend") %>

<section class="hero is-light is-bold">
	<div class="hero-body">
		<h2 class="title">Resend confirmation instructions</h2>

			<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
				<%= devise_error_messages! %>
			  <div class="field">
			    <%= f.label :email, class: "label" %>
			    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Your Email Here", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "input is-info left-field" %>
			  </div>

			  <div class="control">
			    <%= f.submit "Resend confirmation instructions", class: "button is-info" %>
			  </div>
			<% end %>

		<%= render "users/shared/links" %>
	</div>
</section>