<li class="card">
  <header class="card-header">
    <p class="card-header-title">
      <%= post.title %>
    </p>
  </header>
	<div class="card-content">
    <div class="content">
    	<%= post.body %>
    </div>
  </div>
  <div class="card-content">
  	<div class="content">
    	Posted by: <%= link_to post.user.name, user_path(post.user), id: "namelink" %><br>
    	Posted at: <%= post.created_at %>
    </div>
  </div>
  <footer class="card-footer">
    <div class="level">
      <div class="level-left">
        <% if current_user.id == post.user_id %>  
          <%= button_to "delete post", "/posts/#{post.id}", method: :delete, class: "button is-small is-danger" %>
        <% end %>
        <%= button_to "like", "#", class: "button is-small is-success" %>
        <%= button_to "comment", "#", class: "button is-small is-info" %>
      </div>
    </div>
  </footer>
</li>