<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if flash[:success] %>
  		<div class="success"><%= flash[:success] %></div>
  	<% elsif flash[:warning] %>
  		<div class="warning"><%= flash[:warning] %></div>
  	<% elsif flash[:info] %>
  		<div class="info"><%= flash[:info] %></div>
  	<% end %>
    <%= yield %>
  </body>
</html>
